body {
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background-color: #082b44;*/
}
.image-bg {
    background: url(./background.jpg) -8px 8px;
    background-size: 100% auto;
    filter: blur(8px);
    -webkit-filter: blur(7px);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 0;
}
.image-bg::after {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: rgba(83, 45, 27, 0.2);
}

.session-container {
    display: none;
}
/*.dialog-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*}*/

.powered-by-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.powered-by-text {
    color: #ffffff;
    font-size: 20px;
    padding-right: 2px;
    letter-spacing: 1px;
    margin-top: -3px;
}

.logo-top {
    background-image: url(./sceenic.svg);
    background-repeat: no-repeat;
    width: 120px;
    height: 140px;
    background-size: contain;
    background-position: center;
}
.vcam_on {
    background-image: url(./icons/baseline_videocam_white_24dp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.vcam_off {
    background-image: url(./icons/baseline_videocam_off_white_24dp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.mic_on {
    background-image: url(./icons/baseline_mic_white_24dp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.mic_off {
    background-image: url(./icons/baseline_mic_off_white_24dp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.controll_button {
    height: 45px !important;
    width: 45px !important;
    /*border: none !important;*/
    border-radius: 24px !important;

}
.controll_button:hover {
    border: 1px solid #2ecc71 !important;
    background-color: rgba(46, 204, 113, 0.4);
}
.watch-together-button {
    margin: 2px;
    height: 40px;
    width: 150px;
    background-color: inherit;
    color: #fff;
    border: 1px solid #fff;
    font-size: 0.875rem;
    line-height: 40px;
    vertical-align: top;
    padding: 0 10px;
    border-radius: 2px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;
}
.watch-together-button:hover {
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.7);
}
.watch-together-button:disabled {
    border: 1px solid rgba(124, 31, 31, 0.7);
}
.watch-together-button:disabled:hover {
    box-shadow: 0 1px 5px rgba(255, 0, 0, 0.7);
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.session-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    align-items: center;
    bottom: 0;
    z-index: 3;
    padding: 0 16px;
    
}

.sessions-controls__part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.control-label {
    color: #fff;
    margin-bottom: 0;
    padding-left: 2px;
}

/*.user-input {*/
/*    min-height: 40px;*/
/*    width: 200px;*/
/*    outline-width: 0;*/
/*    color: #fff;*/
/*    margin: 10px;*/
/*    border-bottom: 2px solid rgba(255, 255, 255, 0.54);*/
/*    border-right:none;*/
/*    border-top: none;*/
/*    border-left: none;*/
/*    display: flex;*/
/*    background-color: #082b44;*/

/*    transition: background-color .2s ease, box-shadow .2s ease;*/
/*}*/
/*.user-input textarea {*/
/*    background-color: transparent;*/
/*}*/


#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    z-index: 2;
}

video {
    height: 100%;
    width: 100%;
}
.config-dialog {
    display: flex;
    padding: 35px;

    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
}

/* Bootstrap 4 login style */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: linear-gradient(to right, #b92b27, #1565c0)*/
}

.card {
    margin-bottom: 20px;
    border: none !important;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    box-shadow: 0 2px 17px rgba(0 ,123 ,255, 0.25);
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
    border-radius: 4px;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-bottom: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 11px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box button:hover {
    background: #2ecc71
}
.disconnect-button {
    /*border: 0;*/
    background: none;
    display: block;
    /*margin: 20px auto;*/
    text-align: center;
    border: 2px solid #cc2e4e;
    padding: 7px 21px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}
.disconnect-button:hover {
    background: rgba(204, 46, 78, 0.4)
}

.quality-label {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 2px;
}

.video-container {
    box-sizing: border-box;
    padding: 8px;
}


.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}

.resolution-container {
    width: 300px;
}
.resolution-input {
    width: 80%;
}
.quality-button {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 11px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.tour-btn:hover {
    opacity: 1;
    padding: 6px;
    top: 9px;
    right: 9px;
}